[submodule "base16-vim"]
	path = base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "bufexplorer"]
	path = bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "cvim-pathogen"]
	path = cvim-pathogen
	url = https://github.com/HenningM/cvim-pathogen.git
[submodule "darkburn"]
	path = darkburn
	url = https://github.com/vim-scripts/darkburn
[submodule "hexman.vim"]
	path = hexman.vim
	url = https://github.com/vim-scripts/hexman.vim.git
[submodule "indentLine"]
	path = indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "jedi-vim"]
	path = jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "lushtags"]
	path = lushtags
	url = https://github.com/bitc/lushtags
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pydoc.vim"]
	path = pydoc.vim
	url = https://github.com/fs111/pydoc.vim
[submodule "supertab"]
	path = supertab
	url = https://github.com/ervandew/supertab.git
[submodule "syntastic"]
	path = syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "tagbar"]
	path = tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim-autopep8"]
	path = vim-autopep8
	url = https://github.com/tell-k/vim-autopep8.git
[submodule "vim-bufferline"]
	path = vim-bufferline
	url = https://github.com/bling/vim-bufferline
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim-cpp-enhanced-highlight"]
	path = vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "vim-easymotion"]
	path = vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-haskell"]
	path = vim-haskell
	url = https://github.com/wlangstroth/vim-haskell.git
[submodule "vim-racer"]
	path = vim-racer
	url = https://github.com/racer-rust/vim-racer.git
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-syntax-extra"]
	path = vim-syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra.git
[submodule "rust.vim"]
	path = rust.vim
	url = https://github.com/rust-lang/rust.vim.git
